// Tag Content not working with className

main.lits-offers.ant-layout-content {
  @media only screen and (max-width: 767px) {
    margin: 0;
  }
  background: #fff !important;
  margin: 0 0 0 200px;
  padding: 0px 0px 0px;
  min-height: 280px;
  overflow: hidden;
  display: inline-flex;
  border-left: 0.5px solid #c7c7c7bf !important;
}
