.formOffer{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: auto;
    border-radius: 2px;
    z-index: 2;
    text-replace: scale(0);
    visibility: hidden;
    .inconFormOffer{

        position:absolute;
        left: 96%;
        top: 2%;
        font-size: 13px;
        cursor: pointer;
    }

}