.formOffer{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: auto;
    border-radius: 2px;
    z-index: 2;
    text-replace: scale(0);
    @media only screen and (max-width : 575px) {
        width: 350px; 
    }
    visibility: hidden;
    .Form{

        .nameOffer{

            @media only screen and (max-width : 575px) {
                margin-bottom: 0;
            }
        }
        .Reason{
            @media only screen and (max-width : 575px) {
                margin-bottom: 0;
            }
        }
        .dayOff{
            @media only screen and (max-width : 575px) {
                margin-bottom: 0;
            }  
        }
        .selectHandlePosition{
            @media only screen and (max-width : 575px) {
                margin-bottom: 0;
            }
        }
        .typeDayOff{

            @media only screen and (max-width : 575px) {
                margin-bottom: 12px;
            }
        }
        .buttonOffers{
            @media only screen and (max-width : 575px) {
                margin-bottom: 0;
            }

        }
    }
    .inconFormOffer{

        position:absolute;
        left: 96%;
        top: 2%;
        font-size: 13px;
        cursor: pointer;
    }

}