@mixin borderRadiusAndSolid($property, $radius) {
  border-radius: $radius;
  border: $property;
}
.header {
  background-color: #084D17 !important;
  .Logo {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .Search {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
    .ant-input-affix-wrapper {
      @media only screen and (max-width: 992px) {
          width: 300px!important    ;
      }
    }
  }
  .Notification {
    float:right;
    background-color:transparent;
    padding: 0px 0px 0px 18px; 
    position: relative;
    overflow: visible!important;
    top: 8px;
    display:inline-block;
    width: 50px;    
    .listOfNotification::after{

      content: " ";
      position: absolute;
      bottom: 100%; /* At the bottom of the tooltip */
      left: 31%;
      margin-left: -6px;
      border-width: 6px;
      border-style: solid;
      border-color: transparent transparent #e4e7ea transparent;
    }
    .fadeNotification-appear, .fadeNotification-enter{

        opacity: 0!important;
            
    }
    .fadeNotification-enter,.Notification-enter-active {

      opacity: 1!important;
      -webkit-transform: translate3d(0, 0, 0)!important;
        transform: translate3d(0, 0, 0)!important;
        transition: all 200ms linear!important;
    }
    .fadeNotification-appear,.Notification-appear-active {

      opacity: 1!important;
      -webkit-transform: translate3d(0, 0, 0)!important;
        transform: translate3d(0, 0, 0)!important;
        transition: all 200ms linear!important;
    }
    .fadeNotification-enter-done {
      opacity: 1!important;
      -webkit-transform: translate3d(0, 0, 0)!important;
      transform: translate3d(0, 0, 0)!important;
      
  }
    .fadeNotification-appear-done {
        opacity: 1!important;
        -webkit-transform: translate3d(0, 0, 0)!important;
        transform: translate3d(0, 0, 0)!important;
        
    }
  
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .Menu {
    @media only screen and (max-width: 768px) {
      display: block !important;
    }
  }

.Account{

  .dropDownMenuAccount{
      width: 100%;
      height: 100%;
  }
  .Profile {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
    float: right;

    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    .infoUser {
      padding-left: 10px;

      .nameUser {
        color: white;
      }
    }
  }
}
  span.search {
    position: relative;

    .iconSearch {
      left: 4px;
      position: absolute;
      top: 2px;
      font-size: 16px;
    }
  }

  input[type="text"] {
    border-radius: 5px;
    height: 34px;
    @include borderRadiusAndSolid(1px solid black, 2px);
    width: 300px;
    padding-left: 22px;
  }
  ul {
    li:nth-child(2) {
    }
  }
}

.menuAccount {
    padding-top: 0px!important;
    .titleAccount{
        background-color: #e4e7ea;
        text-align: center; 
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding  : 5px 0;
        
    }
    .Profile,.Setting,.Logout{

        font-size: 13px;
    }

}


