@mixin borderRadiusAndSolid($property, $radius) {
  border-radius: $radius;
  border: $property;
}
.header {
  background-color: #084d17 !important;
  .logo {
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .search {
    background-color: transparent !important;
    top: 1px;
    display: inline-block;
    vertical-align: bottom;

    @media only screen and (max-width: 768px) {
      display: none !important;
    }
    .ant-input-affix-wrapper {
      @media only screen and (max-width: 992px) {
        width: 300px !important    ;
      }
    }
  }
  .notification {
    float: right;
    background-color: transparent !important;
    padding: 0px 0px 0px 18px;
    overflow: visible !important;
    top: 8px;
    display: inline-block;
    width: 50px;
    .icon-notification {
      // .badge{
      //   font-size:10px;
      //   width: 20px;
      //   height:20px;
      //   display:flex;
      //   border: 1px solid red;
      //   justify-content:center;
      //   z-index:'0';
      // }
      .bell {
        font-size: 19px;
        color: white;
        margin-right: 0px;
      }
    }
    .list-notification {
      width: 250px;
      height: auto;
      position: absolute;
      left: -100%;
      background-color: white;
      opacity: 0;
      transform: translate3d(0, -5%, 0);
      z-index: 10;
      border-radius: 4px;
      border: 1px solid #e8e8e8;
      .title-message {
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
        margin-bottom: 0;
        font-weight: 500;
        color: gray;
        background-color: #e4e7ea;
        font-size: 14px;
      }
      &:after {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the bottom of the tooltip */
        left: 31%;
        margin-left: -8px;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #e4e7ea transparent;
      }
    }
    .fadeNotification-appear,
    .fadeNotification-enter {
      opacity: 0 !important;
    }
    .fadeNotification-enter,
    .fadeNotification-enter-active {
      opacity: 1 !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      transition: all 200ms linear !important;
    }
    .fadeNotification-appear,
    .fadeNotification-appear-active {
      opacity: 1 !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      transition: all 200ms linear !important;
    }
    .fadeNotification-enter-done {
      opacity: 1 !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }
    .fadeNotification-appear-done {
      opacity: 1 !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }

    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .menu {
    background-color: transparent !important;
    display: none;
    position: relative;
    top: 10px;
    vertical-align: bottom;

    @media only screen and (max-width: 768px) {
      display: block !important;
    }
  }
  .account {
    float: right;
    background-color: transparent !important;
    top: 7px;
    width: 165px;
    display: inline-block;
    vertical-align: bottom;

    .drop-down-menu-account {
      width: 100%;
      height: 100%;
    }
    .profile {
      @media only screen and (max-width: 768px) {
        display: none !important;
      }
      float: right;

      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      .info-user {
        padding-left: 10px;

        .name-user {
          color: white;
        }
      }
    }
  }
  // span.search {
  //   position: relative;

  //   .iconSearch {
  //     left: 4px;
  //     position: absolute;
  //     top: 2px;
  //     font-size: 16px;
  //   }
  // }

  input[type="text"] {
    border-radius: 5px;
    height: 34px;
    @include borderRadiusAndSolid(1px solid black, 2px);
    width: 300px;
    padding-left: 22px;
  }
  ul {
    li:nth-child(2) {
    }
  }
}

.menu-account {
  padding-top: 0px !important;
  .title-account {
    background-color: #e4e7ea;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 0;
  }
  .profile,
  .setting,
  .logout {
    font-size: 13px;
  }
}
